
/* Responsive styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 20px;
  }

  /* Adjust styles for tablet-specific components */
}

/* Responsive styles for larger screens */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 40px;
  }

  /* Add more responsive styles for larger screens */
  .navbar {
    margin-top: 20px;
    padding: 15px 30px;
  }

  .search-bar {
    margin-top: 30px;
    padding: 20px;
  }

  .results-heading {
    font-size: 24px;
  }

  .category-row {
    margin-top: 20px;
  }

  .category-box {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
  }

  .image-grid {
    gap: 20px;
  }

  .image-item {
    padding: 10px;
  }

  .image-details {
    font-size: 14px;
  }

  .image-modal {
    width: 80%;
    max-width: 1000px;
    padding: 30px;
  }

  .modal-title {
    font-size: 24px;
  }

  .modal-content {
    flex-direction: column;
  }

  .image-preview {
    overflow: hidden;
  }

  .download-section,
  .information-section {
    margin-bottom: 30px;
  }

  select {
    width: 100%;
    padding: 12px;
  }

  button {
    padding: 12px;
    font-size: 16px;
  }

  .tags-section {
    margin-top: 30px;
  }
}
